<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: 90% 87%;
  background-repeat: no-repeat;
  background-position-x: center;
#   background-position-y: top;
}
</style>
</head>
<body>

<div align=center>
<p><h1>LOGIN</h1></p>

<%= flash[:error_message] %>
<div class="form-group">
<%= form_for :login do |f|%>
    
    <p><%= f.label :username%>
    <%= f.text_field :username, :placeholder => "enter username", :id => "ip2"%></p>
    
    <p><%= f.label :password%>
    <%= f.password_field :password, :placeholder => "enter password", :id => "ip2"%></p>
    <input class="btn btn-outline-secondary" type="submit" value="LOG IN"><br>
</div>
    <p>New user? <%= link_to 'Sign Up Here', signup_path, class: 'link-to-text-color' %></p>
    
    <%end%>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<br>
<br>


