
<h1>List of all Toppings names</h1>

<%@toppings.each do |topping|%>
    <%= link_to 'View Topping', topping_path(topping)%>
    <%= topping.name%> <br>
    <%end%>

    <p><%= link_to 'Create New Topping', new_topping_path %></p>

<p><%= link_to 'Create New Tea', new_cup_path %></p>

<p><%= link_to 'Sign Out', signout_path, method: :delete%></p>