<h1>Insert site title here</h1>

<h4>Edit your bubbles</h4>
<%# 
<h3><%= link_to 'Back to create', create_tea_path </h4>

<%=form_for Cup.first do |f|%>

<% f.fields_for :topping_ids do |topping_name|%>
<%=topping_name.label :topping_ids, Cup.first.toppings.name %>

<%=topping_name.check_box :topping_ids, {}, true, false %>

<%=f.submit 'Update toppings'%>


<%end%>
<%end%>
