<h1>Remaking Your BBT...</h1>

<h4>Edit your bubbles</h4>
<%# 
<h3><%= link_to 'Back to create', create_tea_path </h4>

<%=form_for @cup do |f|%>
        <p><%=f.label 'Tea'%>
        <%=f.collection_select :tea_id, Tea.all, :id, :name%></p>

        <%=f.label 'Straw Color'%>
        <%=f.collection_select :straw_id, Straw.all, :id, :color%>

<p><%=f.label :name%>
<%=f.text_field :name%></p>


<%=f.submit 'Edit Boba'%>
<br>
<br>
<br>
<%=Quote.rand_quote.quote%><br>
<%="- #{Quote.rand_quote.author}"%>

<%end%>

