<%= flash[:error_message] %>
<h1>List of bubble CUPs names</h1>

<%@cups.each do |cup|%>
    <%= link_to 'View Cup', cup_path(cup)%>
    <%= cup.name%> <br>
    <%end%>

<p><%= link_to 'Create New Tea', new_cup_path %></p>

<p><%= link_to 'Sign Out', signout_path, method: :delete%></p>


