
<%= stylesheet_link_tag "tea-fill.css" %>



<div align = "left" style="border-top:2px solid silver"><br>
<br>
<h1>Making Your BBT...</h1>



<%=form_for @cup do |f|%>
<%# <p><%=f.size :name%>
<p><%=f.label "Name your bubble tea!"%>
<%=f.text_field :name,:placeholder => "enter name", :id => "ip2"%></p>
        <%# <%=f.select :size, options_for_select(['Small', 'Medium', 'Large'])%>
        <p><%=f.label "tea type"%>

        <%=f.collection_select :tea_id, Tea.all, :id, :name%>
        <%#=f.label "straw Color"%>

        <%# <%=f.collection_select :straw_id, Straw.all, :id, :color%>
        <%# <br> %>

<%# <img src="https://cdn1.imggmi.com/uploads/2019/8/23/9c738052778c356752b23b17466a1071-full.png" style="width:400px;height:600px;left:20px;top:60px; position:absolute;"> %>

<img src="https://cdn1.imggmi.com/uploads/2019/8/23/9e2695b1f468b6218d937a7ab11da575-full.jpg"style="width:400px;height:600px;left:600px;top:60px; position:absolute;">
<br>

<h4>Pick your bubbles!</h4>

<%=f.label 'Bubble Amounts'%><br>



<%=f.collection_select :topping_ids, Topping.all, :id, :name ,{ multiple: true }, {:name => 'topping_ids[]'} %>
<%= f.select :amount, options_for_select(['0','1', '2', '3']), {multiple: true }, {:name => 'amount[]'}%><br>


<%=f.collection_select :topping_ids, Topping.all, :id, :name ,{ multiple: true }, {:name => 'topping_ids[]'} %>
<%= f.select :amount, options_for_select(['0','1', '2', '3']), {multiple: true }, {:name => 'amount[]'}%><br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name ,{ multiple: true }, {:name => 'topping_ids[]'} %>
<%= f.select :amount, options_for_select(['0', '1', '2', '3']), {multiple: true }, {:name => 'amount[]'}%><br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name , { multiple: true }, {:name => 'topping_ids[]'}%>
<%= f.select :amount, options_for_select(['0', '1', '2', '3']), {multiple: true }, {:name => 'amount[]'}%><br>
<%=f.collection_select :topping_ids, Topping.all, :id, :name , { multiple: true }, {:name => 'topping_ids[]'}%>
<%= f.select :amount, options_for_select(['0', '1', '2', '3']), {multiple: true }, {:name => 'amount[]'}%><br>


<br>
<p><input class="btn btn-outline-secondary" type="submit" value="Create It"></p>
<br>
<br>
<br>
<%# save_screenshot(../../app/assets/images.png') %>


<%end%>

</div>

<br>

<br>
<br>
<br>

