<h1>Insert site title here</h1>

<h4>Pick your bubbles!</h4>

<%=form_for Cup.first do |f|%>

<%=f.label 'Bubbles'%>

<%=f.label 'Amount'%><br>
<%=f.collection_select :topping_ids, Topping.all, :id, :name%>
<%=f.select :amount, options_for_select(['1', '2', '3', '4', '5', '6'])%> <br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name%>
<%=f.select :amount, options_for_select(['1', '2', '3', '4', '5', '6'])%><br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name%>
<%=f.select :amount, options_for_select(['1', '2', '3', '4', '5', '6'])%><br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name%>
<%=f.select :amount, options_for_select(['1', '2', '3', '4', '5', '6'])%><br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name%>
<%=f.select :amount, options_for_select(['1', '2', '3', '4', '5', '6'])%><br>

<%=f.collection_select :topping_ids, Topping.all, :id, :name%>
<%=f.select :amount, options_for_select(['1', '2', '3', '4', '5', '6'])%><br>


<%=f.submit 'Create Boba'%>


<%end%>
