

<%= stylesheet_link_tag "boba-fall.css" %>

<%i=@cup.toppings.length%>
<%temp=@cup.toppings%>

<div class = "stage1">

<%if i<5%>
<%@cup.toppings.each do |top|%>
<%# <figure class = "image1"></figure> %>
<div class = "image1 bounce-7">
<img class= "image1"
 src= "<%=top.img_url%>"
 alt="sam jackson">
 </div>
<%end%>

<div class = "stage2">

<%elsif i>4 && i<=9%>
<%x=0%>
<%4.times do%>
<%# <figure class = "image1"></figure> %>
<div class = "image1 bounce-7">
<img class= "image1" src=" <%=@cup.toppings[x].img_url%>"
 alt="sam jackson">
 <%x+=1%>
 </div>
<%end%>
<%temp.delete(keys.min)%>
<%temp.delete(min)%>
<%temp.delete(hash.keys.min)%>
<%temp.delete(hash.keys.min)%>
<%#temp.shift(4)%>
<%temp.each do |top|%>
<%# <figure class = "image1"></figure> %>
<div class = "image1 bounce-7">
<img class= "image1"
 src= "<%=top.img_url%>"
 alt="sam jackson">
 </div>
<%end%>


<div class = "stage3">

<%else%>
<%x=0%>
<%4.times do%>
<%# <figure class = "image1"></figure> %>
<div class = "image1 bounce-7">
<img class= "image1" src=" <%=temp[x].img_url%>"
 alt="sam jackson">
 <%x+=1%>
 </div>
<%end%>
<%temp.delete(hash.keys.min)%>
<%temp.delete(hash.keys.min)%>
<%temp.delete(hash.keys.min)%>
<%temp.delete(hash.keys.min)%>
<%#temp.shift(4)%>
<%x=0%>
<%5.times do%>
<%# <figure class = "image1"></figure> %>
<div class = "image1 bounce-7">
<img class= "image1" src=" <%=temp[x].img_url%>"
 alt="sam jackson">
 <%x+=1%>
 </div>
<%end%>
<%temp.delete(min)%>
<%temp.delete(min)%>
<%temp.delete(hash.keys.min)%>
<%temp.delete(hash.keys.min)%>
<%temp.delete(hash.keys.min)%>
<%#temp.shift(5)%>
<%temp.each do |top|%>
<%# <figure class = "image1"></figure> %>
<div class = "image1 bounce-7">
<img class= "image1"
 src= "<%=top.img_url%>"
 alt="sam jackson">
 </div>
<%end%>
<%end%>



<<<<<<< HEAD
<div align= "right">
=======



>>>>>>> 1d1104499ab8de222120bc32ddfbf597096de5c6
<h1><%=@cup.name%></h1>
<h3>Current Toppings in your Cup</h3>
</div>

<div align= "right">
<%@toppings.each do |topping|%>
    <%=topping.name%><br>
    <div class = "memepics">
        <img src = <%=topping.img_url%> width="150" height="150"></br>
    </div>
    <%end%>
</div>



<details class = "details">
  <summary>Your Tea Facts: <%=@tea.name%></summary>
  <p> <%= @tea.description%></p>
  <p><%= @tea.origin%></p>
  <p><%= @tea.benefits%></p>
</details>

<p><%= button_to 'Edit Cup', edit_cup_path(@cup), method: :get%></p>

<p><%= button_to 'Delete Cup', cup_path(@cup), method: :delete%></p>

<p><%= button_to 'Back to All My Cups', cups_path, method: :get%></p>



<br>
<br>
<br>
<<<<<<< HEAD
<%quote= Quote.rand_quote%><br>
<%="#{quote.quote} -#{quote.author}"%>
=======
>>>>>>> 1d1104499ab8de222120bc32ddfbf597096de5c6
