<h1><%=@cup.name%></h1>
<h3>Current Toppings in your Cup</h3>

<%@toppings.each do |topping|%>
    <%=topping.name%><br>
    <img src = <%=topping.img_url%> width="150" height="150"></br>
    <%end%>


<p><%= button_to 'Edit Cup', edit_cup_path(@cup), method: :get%></p>

<p><%= button_to 'Delete Cup', cup_path(@cup), method: :delete%></p>
