
<%= stylesheet_link_tag "tea-fill.css" %>
<%= stylesheet_link_tag "boba-fall.css" %>

<svg xmlns="http://www.w3.org/2000/svg" 
</div class="tea-fill tea" viewBox="0 0 128 128">
  <g>
<div class="tea" height="100" transform="translate(20,0)" y="15">

</div>
</div>
<%= stylesheet_link_tag "boba-fall.css" %>


<%i=@cup.toppings.length%>
<%temp=@cup.toppings%>

<div class = "stage1">

  <%if i<5%>
    <%@cup.toppings.each do |top|%>
      <figure class = "image1"></figure>
      <div class = "image1 bounce-7">
        <img class= "image1"
        src= "<%=top.img_url%>"
        alt="sam jackson">
      </div>
    <%end%>



  <%else%>
    <%x=0%>
    <%4.times do%>
      <figure class = "image1"></figure>
      <div class = "image1 bounce-7">
      <img class= "image1" src=" <%=@cup.toppings[x].img_url%>" alt="sam jackson">
      </div>
    <%end%>
  <%end%>
</div>

<div class= "stage2">
  <%x=5%>
  <%5.times do%>
    <figure class = "image1"></figure>
    <div class = "image1 bounce-7">
    <img class= "image1" src=" <%=@cup.toppings[x].img_url%>"
    alt="sam jackson">

  <%end%>

</div>









<div align = "right", style="padding-right:30">
<h1><%=@cup.name%></h1>
<h3>Current Toppings in your Cup</h3>



<%@toppings.each do |topping|%>
    <%=topping.name%><br>
    <div class = "memepics">
        <img src = <%=topping.img_url%> width="150" height="150"></br>
    </div>
    <%end%>



<div align= "right">
<details class = "details">
  <summary>Your Tea Facts: <%=@tea.name%></summary>
  <p> <%= @tea.description%></p>
  <p><%= @tea.origin%></p>
  <p><%= @tea.benefits%></p>
</details>
</div>

<p><%= button_to 'Edit Cup', edit_cup_path(@cup), method: :get%></p>

<p><%= button_to 'Delete Cup', cup_path(@cup), method: :delete%></p>

<p><%= button_to 'Back to All My Cups', cups_path, method: :get%></p>



<br>
<br>
<br>
