<div align=center>
<br>

<h1> SITE STATS </h1>
<br>
<p>Most Cups Made: The user with the most cups is <font color="burlywood"><%=@most_cups.username%></font>, with <font color="burlywood"><%=@most_cups.cups.length%></font> cups!</p>

<p>Most Recent User: The most recently made user is <font color="burlywood"><%=@most_recent%></font>.</p>

<p>Most Used Topping: The most used topping is <font color="burlywood"><%=@most_used_topping.name%></font> which has been used <font color="burlywood"><%=@most_used_topping.cups.length%></font> times.</p>

<p>Most Used Tea: <font color="burlywood"><%=@tea.name%></font> has been used <font color="burlywood"><%=@tea.cups.length%></font> times.</p>
<details class = "details">
  <summary> Facts about <%=@tea.name%></summary>
  <p><%= @tea.description%></p>
  <p><%= @tea.origin%></p>
  <p><%= @tea.benefits%></p>
</details>





<br>
<br>
<p> Ellyn and Katana's, Mod 2 project </p>
<br>
</div>