<br>
<div align=center>
<h1> SITE STATS </h1>
<p>Most Cups Made: <%=@most_cups%></p>

<p>Most Recent User: <%=@most_recent%></p>

<p>Most Used Tea: <%=@most_used_teas%></p>

<p>Most Used Topping: <%=@most_used%></p>
<details class = "details">
  <summary>This Tea Facts: <%=@tea.name%></summary>
  <p> <%= @tea.description%></p>
  <p><%= @tea.origin%></p>
  <p><%= @tea.benefits%></p>
</details>




<br>
<br>
<p> Ellyn and Katana's, Mod 2 project </p>
<br>
</div>