LOGIN PAGE!
<%= flash[:error_message] %>
<%= form_for :login do |f|%>
    <%= f.label :username%>
    <%= f.text_field :username%>
    <%= f.label :password%>
    <%= f.password_field :password%>
    <%= f.submit 'LOG IN'%>
    <p>New user? <%= link_to 'Sign Up Here', signup_path %></p>
    <%end%>