<!DOCTYPE html>
<html>
  <head>
    <title>BubbleTeaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="lib/assets/stylesheets/css/boba-fall.css">
    <%# <link rel="stylesheet" type="text/css" href="../assets/stylesheets/boba-fall.html"> %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    

  </head>

  <% if signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">


 
    
    <a class="navbar-brand" href="">
    <img src="https://lh3.googleusercontent.com/5Q9tK7Ah7cHfDlyLAo_uk0sz-h6owjobRXumgqI15TMLsdwirYV8BRuFeyIJbXwQeprY2y2ex_Bxca4Bd51rpBpyiMtz4q9D_zRa-umoDVyd4ww_UHZKyuI8gj_GjrntNj00Sa0SbU9aaRbQ1Pzm7ht9swlGx-6svCHvnbA1LFm-7fY8ILy9J3F1xVqcTegXp4gEMs2f4J6emc5IBpzXEfvhbv9iReY73DqHW8ckM0m43DAB9l2fF7Xt_32fdZ6kZF5RLQX7_7NyXV-AyvPmJpH8LMnplmq0JqmG-g_X0kbIqs4mJFt0Xs7JcpEen7erlnIGQDSqPKjpF2swzRfumGiAvFVIMpU2mpofm4GvDpj7IuklWsKyjaZ9DD9LzZx4Y0VvVYf0ncqkXhJDm44walRg5FesjrmzMCfFKKVVjdqmEhQ9mDcNfv8jpyQzhT4mK8bw7u_xtGxgw2o3C0BrAG0MwzM1-HI4HakM2kurdzNBU0u9Nc-JeaWq8Q71Ijz7qWdVifCVoS5L1J5pX93Ik59D-nbd1GTX8hcc6cScig8p78ASUExG0TQk1nH4KIi1tkKpUzPn72nTeDa0y72psUvPG77lq9noXVa6uVzi0mOofeNdcukOOEuEZWflISe7lCroZcf7eF4f2BY_puK4_kGZ_8YM7Kg=w750-h844-no" width="40" height="30" style = "padding-right: 10px" class="d-inline-block align-top" alt="">
    BobaApp
  </a>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" <%=link_to 'My Cups', cups_path%><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%=link_to 'Create A Cup', new_cup_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%=link_to 'Create A Topping', new_topping_path%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%=link_to 'Sign Out', signout_path, method: :delete%></a>
      </li>
      </ul>
  
</nav>
<%else%>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <a class="navbar-brand" href="">
    <img src="https://lh3.googleusercontent.com/5Q9tK7Ah7cHfDlyLAo_uk0sz-h6owjobRXumgqI15TMLsdwirYV8BRuFeyIJbXwQeprY2y2ex_Bxca4Bd51rpBpyiMtz4q9D_zRa-umoDVyd4ww_UHZKyuI8gj_GjrntNj00Sa0SbU9aaRbQ1Pzm7ht9swlGx-6svCHvnbA1LFm-7fY8ILy9J3F1xVqcTegXp4gEMs2f4J6emc5IBpzXEfvhbv9iReY73DqHW8ckM0m43DAB9l2fF7Xt_32fdZ6kZF5RLQX7_7NyXV-AyvPmJpH8LMnplmq0JqmG-g_X0kbIqs4mJFt0Xs7JcpEen7erlnIGQDSqPKjpF2swzRfumGiAvFVIMpU2mpofm4GvDpj7IuklWsKyjaZ9DD9LzZx4Y0VvVYf0ncqkXhJDm44walRg5FesjrmzMCfFKKVVjdqmEhQ9mDcNfv8jpyQzhT4mK8bw7u_xtGxgw2o3C0BrAG0MwzM1-HI4HakM2kurdzNBU0u9Nc-JeaWq8Q71Ijz7qWdVifCVoS5L1J5pX93Ik59D-nbd1GTX8hcc6cScig8p78ASUExG0TQk1nH4KIi1tkKpUzPn72nTeDa0y72psUvPG77lq9noXVa6uVzi0mOofeNdcukOOEuEZWflISe7lCroZcf7eF4f2BY_puK4_kGZ_8YM7Kg=w750-h844-no" width="40" height="30" style = "padding-right: 10px" class="d-inline-block align-top" alt="">
    BobaApp
  </a>
  <span class="navbar-text" >
      Made with love by Ellyn and Katana
    </span>
  </div>
</nav>

<%end%>

  <body>
  
    <%= yield %>
    <footer>
  <iframe id="foot" src="https://open.spotify.com/embed/album/0S0KGZnfBGSIssfF54WSJh" width="window.outerWidth" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </footer>
  </body>
  
</html>
